blivet==3.4.0
chardet==4.0.0
Cython==0.29.22
dasbus==1.4
dbus-python==1.2.18
docutils==0.16
fail2ban==1.0.2
gpg==1.15.1
idna==2.10
initial-setup==0.3.90.2
iotop==0.6
langtable==0.0.54
libcomps==0.1.18
nftables==0.1
packaging==20.9
perf==0.1
pid==2.2.3
productmd==1.31
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
PyGObject==3.40.1
pykickstart==3.32.8
pymongo==3.10.1
pyparsing==2.4.7
pyparted==3.12.0
PySocks==1.7.1
python-dateutil==2.8.1
python-ldap==3.3.1
python-linux-procfs==0.7.0
python-meh==0.50
pytz==2021.1
pyudev==0.22.0
PyYAML==5.4.1
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.16.1.3
selinux==3.4
sepolicy==3.4
setools==4.4.0
simpleline==1.8
six==1.15.0
systemd-python==234
urllib3==1.26.5
